{% set titre = "page d'administration" %}
{% include "/Admin/_headAdmin.html.twig"  %}
   <body>
      {% include "/_logoutButton.html.twig" %}
      {% include "/_info.html.twig" %}
      <table id="tableau">
         <thead>
            <tr>
               <th scope="col">Nom utilisateur</th>
               <th scope="col">Rôle</th>
               <th scope="col">Modifier</th>
               <th scope="col">Supprimer</th>
               <th scope="col">Avatar</th>
            </tr>
         </thead>
         <tbody>
            {% for user in Users %}
            <tr>
               <td>{{ user.pseudo }}</td>
               <td>{{ user.role }}</td>
               <td><a href="/Admin/Modifier?id={{ user.id }}">modifier</a></td>
               <td><a href="/Admin/Delete?id={{ user.id }}">supprimer</a></td>     
               <td>{% if user.avatar is not null %}<img src="/images/avatar/{{ user.avatar }}" alt="image de l'avatar" style="width: 50px; height: 50px;">{% endif %}</td>  {# faire fragment pour tableau #}  
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <div class="pagination">
         <button id="previous">précédent</button>
         <span id="pageInfo"></span>
         <button id="next">suivant</button>
      </div>   

      <a href="/Admin/Modifier?id=0">ajouter un nouvel utilisateur</a>

      {{ SESSION['message']|default("") }}

      <a href="/">retour accueil</a>

      <script src="/js/Admin/Users.js"></script>
   </body>
</html>