<?php if($user['id']>=1){ $titre = "page de modification"; }
       else { $titre = "page d'ajout"; }

{% if user['id']=>1 %} 
   {% set titre = "page de modification" %}
   {% elseif %}
   {% set titre = "page d'ajout" %}
{% endif %}               

{% set titre = "page d'ajout" %}
{% include "/Admin/_headAdmin.html.twig"  %}
{% include "/_logoutButton.html.twig" %}
   <h1>ID UTILISATEUR :{{ user.id }}</h1>
   <body>
      <div class="login">
         <h2>modification</h2>
         <form method="post">
            <input type="hidden" name="id" value="{{ user.id }}">

            <label for="pseudo">Nom utilisateur : {{ user.pseudo }}</label>
            <input type="text" id="pseudo" name="pseudo" value="{{ user.pseudo }}" required>

            <label for="role">rôle : {{ user.role }}</label>
            <input type="text" id="role" name="role" value="{{ user.role }}" required>
            
            <label for="password">mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <label for="passwordcheck">confirmation mot de passe :</label>
            <input type="password" id="passwordcheck" name="passwordcheck" required><button type="submit" name="modifier" value="1">{% if user['id'] == 0 %} ajouter {% elseif %} modifier {% endif %}</button>
            {{ message|default("") }}
         </form>
      </div>
      {% if user['id']>0 %}
      <a href="/admin/delete?id={{user['id']}}">suppression</a>
      {% endif %}
      <a href="/admin">Annuler</a>
   </body>
</html>



{#
   <h1>ID UTILISATEUR :<?php echo($user['id'])?></h1>
   <body>
      <div class="login">
         <h2>modification</h2>
         <form method="post">
            <input type="hidden" name="id" value="<?php echo($user['id'])?>">

            <label for="pseudo">Nom utilisateur : <?php echo($user['pseudo'])?></label>
            <input type="text" id="pseudo" name="pseudo" value="<?php echo($user['pseudo'])?>" required>

            <label for="role">rôle : <?php echo($user['role'])?></label>
            <input type="text" id="role" name="role" value="<?php echo($user['role'])?>" required>
            
            <label for="password">mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <label for="passwordcheck">confirmation mot de passe :</label>
            <input type="password" id="passwordcheck" name="passwordcheck" required><button type="submit" name="modifier" value="1"><?php if ($user['id'] == 0){ echo "ajouter";}
            else{echo "modifier";}?></button>
            <?php echo($message)?>
         </form>
      </div>
      <?php if($user['id'] > 0) {echo "<a href=\"/admin/delete?id=".$user['id']."\">suppression</a>";}?>
      <a href="/admin">Annuler</a>
   </body>
</html>
