{% if user.id >= 1 %} 
   {% set titre = "page de modification" %}
{% else %}
   {% set titre = "page d'ajout" %}
{% endif %}               
{% include "/Admin/_headAdmin.html.twig"  %}
{% include "/_logoutButton.html.twig" %}
   <body>
      <h1>ID UTILISATEUR :{{ user.id }}</h1>
      <div class="login">
         <h2>modification</h2>
         <form method="post">
            <input type="hidden" name="id" value="{{ user.id }}">

            <label for="pseudo">Nom utilisateur : {{ user.pseudo }}</label>
            <input type="text" id="pseudo" name="pseudo" value="{{ user.pseudo }}" required>

            <label for="role">rôle : {{ user.role }}</label>
            <input type="text" id="role" name="role" value="{{ user.role }}" required>
            
            <label for="password">mot de passe :</label>
            <input type="password" id="password" name="password" required>

            <label for="passwordcheck">confirmation mot de passe :</label>
            <input type="password" id="passwordcheck" name="passwordcheck" required><button type="submit" name="modifier" value="1">{% if user.id == 0 %} ajouter {% else %} modifier {% endif %}</button>
            {{ message|default("") }}
         </form>
      </div>
      {% if user.id >0 %}
         <a href="/Admin/Delete?id={{user.id}}">suppression</a>
      {% endif %}
         <a href="/Admin/Users">Annuler</a>
   </body>
</html>